@page "/global-data"
@using OWSManagement.Services
@using OWSData.Models.Tables
@using System.Text.Json
@using System.Text.Json.Serialization
@using System.Text
@inject IHttpClientFactory ClientFactory
@inject IConfiguration Configuration

<PageTitle>Global Data</PageTitle>

<h1>Global Data</h1>

<p>This component demonstrates showing data.</p>

@code {

    protected override async Task OnInitializedAsync()
    {

    }
}
